{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling"], "index"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "no-underscore-dangle": "off",
    "react/function-component-definition": [
      "error",
      {
          "namedComponents": "arrow-function"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "overrides": [
    {
      // TODO: 앞 두개는 리팩토링 후 주석과 함께 제거
      "files": ["styles.ts", "styles.tsx", "*.styles.ts"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}
