{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "linebreak-style": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    "tsx"
                ]
            }
        ],
        "import/no-unresolved": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "import/extensions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "prettier/prettier": ["error", { "endOfLine": "auto" }]
    },
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "rules": {
                "no-undef": "off",
                "no-unused-vars": "off"
            }
        },
        {
            "files": [
                "*.config.js"
            ],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ],
    "parser": "@typescript-eslint/parser"
}